* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.box-1 {
  width: 50vw;
}

.cellphone {
  width: 650px;
  margin: 0 0 0 200px;
}

.box-2 {
  width: 50vw;
  display: flex;
  align-items: center;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.content > div {
  margin: 5px;
  width: 420px;
}

.content .content-1 {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  box-shadow: 0px 1px 5px #c0c0c0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .content-1 > div {
  margin: 2px;
}

.content .content-1 .logotipo-img {
  width: 150px;
}

.profile_photo {
  width: 100px;
  border-radius: 50%;
}

.content .content-1 .botoes-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .content-1 .botoes-login .botao-continuar {
  background-color: #0095f6;
  color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
}

.btn-padrao {
  color: #0095f6;
}

.content .content-1 .botoes-login a {
  margin: 5px 0;
}

.content .content-2 {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  box-shadow: 0px 1px 5px #c0c0c0;
  padding: 10px;
  text-align: center;
}

.content .content-2 > div {
  margin: 5px 0;
}

.content .botoes-apps {
  text-align: center;
  padding: 5px;
}

.content .botoes-apps .img-botoes {
  display: flex;  
  justify-content: center;
}

.content .botoes-apps .img-botoes img {
  width: 150px;
  margin: 10px 20px;
}
